.orgchart.myChart {
  /* background-image: linear-gradient(
      90deg,
      rgba(33, 90, 136, 0.15) 10%,
      rgba(0, 0, 0, 0) 10%
    ), */
    /* linear-gradient(rgba(33, 90, 136, 0.15) 10%, rgba(0, 0, 0, 0) 10%) !important; */
    background: beige;
}

.orgchart.myChart > ul > li > ul li::before {
  border-top-color: #215a88;
}

.orgchart.myChart > ul > li > ul li .oc-node::before,
.orgchart.myChart ul li .oc-node:not(:only-child)::after {
  background-color: #215a88;
}

/* .orgchart.myChart .oc-node .container {
    border-radius: 5%
} */

.orgchart.myChart .oc-node .position {
  box-sizing: border-box;
  background-color: #215a88;
  color: #fff;
  width: 230px;
  height: 35px;
  padding: 2px;
  border-radius: 5px 5px 0px 0px;
}

.orgchart.myChart .oc-node .position > button {
    float: right;
    background: orange;
    color: #215a88;
    font-size: 20px;
    font-weight: bold;
    /* border: 0px; */
}

.orgchart.myChart .oc-node .fullname {
  box-sizing: border-box;
  color: #215a88;
  background-color: #fff;
  width: 230px;
  height: 65px;
  padding: 2px;
  border: 1px solid #215a88;
  border-radius: 0px 0px 5px 5px;
}
